* {
  margin: 0;
  padding: 0;
  /* background-color: black; */
}

h1 {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 2px solid black;
  align-items: center;
  background-color: #524e4e;
  color: white;
}

ul {
  display: flex;
  gap: 10px;
}

li {
  list-style-type: none;
  font-size: 20px;
}

header a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.home {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}

.left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  font-size: 1.7rem;
  padding: 20px 60px;
}

.right {
  width: 30%;
  padding: 60px;
}

.right img {
  width: 100%;
  border-radius: 20px;
}

.left button {
  padding: 12px;
  font-size: 16px;
}

.homeProducts {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
  color: white;
  background-color: #000000;
}

.homeProducts h1{
  font-size: 3.6rem;
}

main {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 20px;
}


.wrapper {
  display: flex;
  gap: 20px;
  border: 2px solid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  color: black;
  padding: 20px;
  margin-top: 50px;
  border-radius: 20px;
background-color: #ffffff;
}

.wrapper img{
  mix-blend-mode: multiply;
}


.cart {
  border: 2px solid black;
  padding: 8px;
  border-radius: 10px;
  background-color: rgb(15, 138, 196);
  width: fit-content;
  transition: all 0.3s;
}

.cart:hover {
  background-color: rgb(10, 102, 145);
  color: white;

}


.blogapp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blogContainer {
  width: 300px;
  border: 2px solid black;
  text-align: center;
  margin-top: 20px;
}


.singleProduct {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.singleProduct .left {
  width: 25%;
}

.singleProduct .left img {
  width: 100%;
  height: 200px;
}

.singleProduct .right {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.upper {
  display: flex;
  justify-content: flex-end;
  background-color: #a7a5a5;
  padding: 20px;
  /* color: black; */
}

.auth {
  display: flex;
  gap: 30px;
  font-size: 20px;

}

.auth a {
  color: black;
  text-decoration: none;
}


/* Signup css */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name, .email, .password{
  display: flex;
  flex-direction: column;
}

form{
  padding: 40px;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.cartdiv{
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  gap: 40px;
}

.cartproduct{
  justify-content: flex-start;
  gap: 100px;
  display: flex;
  border: 2px solid;
  padding: 40px;
}

.cartproduct .info{
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.remove{
  padding: 15px;
  width: 300px;
  font-size: 24px;
}

.info h3{
  border: 2px solid black;
  width: 80px;
  padding: 10px;
  border-radius: 10px;
  background: rgb(82, 80, 80);
  color: white;
}

.increment{
  display: flex;
  border-radius: 10px;
  width: fit-content;
  padding: 4px;
  background:  rgb(82, 80, 80);
  }
  
  .increment *{
  border: 1px solid;
  margin: 3px;
  padding: 15px;
  border-radius: 10px;
  background-color:  rgb(82, 80, 80);
  color: white;
}

.amountdetail{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid;
  width: 400px;
  padding: 80px;
}